			<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">

				<div class="row column text-center">
					<br>
					<img class="it-thumbnail" src="img/ellipse-53.png" >
					<h5 class="text-center it-thumbnail-text"><strong>Sarah Blondin</strong></h5>
				</div>

				<!-- Menu -->
				<ul class="vertical menu">
					<li class="is-active"><a href="#"><span><svg width="14" height="17" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="-16833.459 -20344 14.465 17.709">
						<path id="Union_1148" data-name="Union 1148" class="it-cls-1" d="M0,17.709l2.286-6.047a1.881,1.881,0,0,0,.258.3A8.659,8.659,0,0,0,6.9,14.28l1.291,3.429ZM3.134,11.33A7.82,7.82,0,0,1,2.913.489L5.2,2.775l5.6-1.217A1.966,1.966,0,0,1,11.321.525a1.893,1.893,0,0,1,2.618,0,1.893,1.893,0,0,1,0,2.618,1.966,1.966,0,0,1-1.033.516l-1.18,5.605,2.286,2.286A7.865,7.865,0,0,1,3.134,11.33ZM6.268,3.844,10.657,8.2l1-4.794-.332-.221a2,2,0,0,1-.258-.332Z" transform="translate(-16833.459 -20344)"/>
					</svg></span> Dashboard</a></li>
					<li><a href="#"><span><svg width="21" height="15"  fill="#1a6573" xmlns="http://www.w3.org/2000/svg" viewBox="-16837 -20303.254 21.25 15.736">
						<path id="Union_1150" data-name="Union 1150" class="it-cls-1" d="M1.091,15.736A1.091,1.091,0,0,1,0,14.645a1.178,1.178,0,0,1,.319-.771l1.175-1.482,3.648-4.6L7.3,5.071A1.08,1.08,0,0,1,8.621,4.9l.536.336L12.4,7.273l.363-.361,4.078-4.058.676-.673H16A1.1,1.1,0,0,1,14.91,1.091,1.1,1.1,0,0,1,16,0h4.16a1.1,1.1,0,0,1,1.091,1.091h0V5.25a1.091,1.091,0,1,1-2.181,0h0V3.711L15.862,6.9,13.324,9.429A1.1,1.1,0,0,1,12,9.6l-.536-.336L8.312,7.282,7.666,8.1,4.018,12.7l-2.156,2.72a1.044,1.044,0,0,1-.771.319Z" transform="translate(-16837 -20303.254)"/>
					</svg></span> Promote</a></li>
					<li><a href="#"><span><svg width="16" height="17"  fill="#1a6573" xmlns="http://www.w3.org/2000/svg" viewBox="-16834.344 -20263.277 15.996 17.709">
						<path id="Union_1149" data-name="Union 1149" class="it-cls-1" d="M.3,15.877A1.217,1.217,0,0,1,0,15.05v-.867c.788.768,2.442,1.832,5.673,1.812,3.014,0,4.511-.926,5.24-1.694v.847a1.387,1.387,0,0,1-.217.749c-.473.67-1.734,1.812-5.023,1.812C2.364,17.709.886,16.567.3,15.877Zm0-2.384a1.217,1.217,0,0,1-.3-.827v-1c.788.768,2.442,1.832,5.673,1.832,3.014,0,4.511-.926,5.24-1.694v.965a1.386,1.386,0,0,1-.217.749c-.473.67-1.734,1.812-5.023,1.812C2.364,15.326.886,14.183.3,13.494ZM11.6,12.8V11.386A6.218,6.218,0,0,0,16,9.692v.847a1.389,1.389,0,0,1-.217.749c-.414.611-1.517,1.615-4.176,1.793ZM.3,10.972a1.217,1.217,0,0,1-.3-.827V9.16a7.454,7.454,0,0,0,5.456,1.911A7.422,7.422,0,0,0,10.913,9.16v1.083a1.387,1.387,0,0,1-.217.749c-.473.67-1.734,1.812-5.023,1.812C2.364,12.8.886,11.662.3,10.972ZM11.6,10.421V8.864A6.407,6.407,0,0,0,16,7.19v.965a1.388,1.388,0,0,1-.217.749c-.414.611-1.517,1.615-4.176,1.793ZM0,7.505c0-1.576,2.5-2.9,5.456-2.9s5.457,1.32,5.457,2.876c0,1.576-2.5,2.916-5.457,2.916S0,9.061,0,7.505ZM11.583,7.9h-.039a2.943,2.943,0,0,0,.039-.414,2.232,2.232,0,0,0-.256-1.064A6.822,6.822,0,0,0,15.976,4.55V5.634a1.387,1.387,0,0,1-.217.749c-.414.611-1.517,1.615-4.176,1.793ZM5.456,3.92A1.726,1.726,0,0,1,5.082,2.9c0-1.576,2.5-2.9,5.457-2.9S16,1.32,15.976,2.9c0,1.5-2.3,2.778-5.122,2.876A7.437,7.437,0,0,0,5.456,3.92Z" transform="translate(-16834.344 -20263.277)"/>
					</svg></span>
					Revenue</a></li>
				</ul>

				<ul class="vertical menu">
					<li><a href="#"><span><svg width="21" height="13"  fill="#1a6573" xmlns="http://www.w3.org/2000/svg" viewBox="-16837 -20202.029 21.25 13.486">
						<path id="Union_1147" data-name="Union 1147" class="it-cls-1" d="M5.742,12.574a3.806,3.806,0,0,1-1.937-3.2,1.4,1.4,0,0,1-.023-.23V6.224c.121.053.1.062.209.115C6.059,7.3,8.552,7.8,10.62,8.762c2.119-.988,4.712-1.557,6.831-2.538,0,.012,0,.024,0,.035l-.011.024c-.017.038-.032.076.011.055,0,1.5-.011,1.063.006,2.657.005.013,0,.02,0,.033v.046a3.578,3.578,0,0,1-1.779,3.5,12.31,12.31,0,0,1-5.058.911A11.21,11.21,0,0,1,5.742,12.574ZM19.586,9.253a3.081,3.081,0,0,1-.01-.425c0-.61.01-1.214-.009-1.824,0-.01.009-.02.009-.03,0-.43.01-.593,0-1.028a.294.294,0,0,1,.283-.307c.445-.08.908-.379,1.371-.473a.52.52,0,0,1,.02.1V9.164c.009.17-.107.3-.367.4a1.361,1.361,0,0,1-.478.082C20.006,9.651,19.628,9.5,19.586,9.253ZM10.44,7.4Q5.322,5.582.167,3.774C.121,3.759.075,3.739,0,3.709c.554-.195,1.086-.38,1.611-.569L10.481.022a.46.46,0,0,1,.26-.005Q15.921,1.83,21.095,3.654c.035.015.076.03.133.055-.156.06-.295.11-.439.16q-5,1.754-10,3.517a.552.552,0,0,1-.194.039A.471.471,0,0,1,10.44,7.4Zm7.01-1.058v0Zm0-.08h0v.08h0C17.451,6.313,17.451,6.286,17.451,6.259Zm0-.035c.016-.008.011.011,0,.035ZM3.78,6.172a.3.3,0,0,1,0-.06v.112a.049.049,0,0,1,0,.014A.573.573,0,0,1,3.78,6.172Zm13.671.052Z" transform="translate(-16837 -20202.029)"/>
					</svg></span> Courses</a></li>
					<li><a href="#"><span><svg width="17" height="17"  fill="#1a6573" xmlns="http://www.w3.org/2000/svg" viewBox="-16835.229 -20163.854 17.205 17.709">
						<path id="Path_3358" data-name="Path 3358" class="it-cls-1" d="M11.269,6.835V17.393a3.771,3.771,0,0,0-2.143-.233,3.109,3.109,0,0,0-2.81,3.325A3.108,3.108,0,0,0,10.1,22.648a3.211,3.211,0,0,0,2.836-2.889h.006v-9.1l8.877-1.332V15.81a3.753,3.753,0,0,0-2.138-.231A3.1,3.1,0,0,0,16.869,18.9a3.1,3.1,0,0,0,3.775,2.164,3.217,3.217,0,0,0,2.84-2.9h0V5Z" transform="translate(-16841.51 -20168.854)"/>
					</svg></span>
					Audio</a></li>
					<li><a href="#"><span><svg width="21" height="17"  fill="#1a6573" xmlns="http://www.w3.org/2000/svg" viewBox="-16837 -20123.885 21.252 17.863">
						<path id="Path_3359" data-name="Path 3359" class="it-cls-1" d="M11.018,10.684a1.2,1.2,0,0,0,.125-.9,1.128,1.128,0,0,0-.487-.724.968.968,0,0,0-.827-.135,1.1,1.1,0,0,0-.668.54L6.919,13.5a.589.589,0,0,0-.113.16q-.091.147-.226.393-.1.6-.193.97l-.759,5A2.456,2.456,0,0,1,4.62,21.474L2.457,22.849A2.05,2.05,0,0,0,1.6,24.163a2.143,2.143,0,0,0,.238,1.6,1.853,1.853,0,0,0,.77.761,1.275,1.275,0,0,0,.283.123,1.029,1.029,0,0,0,.147.049,1.842,1.842,0,0,0,.759.037,1.926,1.926,0,0,0,.713-.295l4.734-2.971a4.293,4.293,0,0,0,1.393-1.67,7.072,7.072,0,0,0,.6-3.474l-.079-1.387a.161.161,0,0,1-.023-.086L11.1,14.661a.975.975,0,0,0-.283-.7.866.866,0,0,0-.645-.282.814.814,0,0,0-.645.307H9.512a1.038,1.038,0,0,0-.26.712l.034,2.173a.222.222,0,0,1-.045.135.161.161,0,0,1-.125.049.162.162,0,0,1-.159-.172l-.034-2.2q.045-.074.079-.135l2.016-3.867M22.734,24.163a2.05,2.05,0,0,0-.861-1.314L19.71,21.474A2.394,2.394,0,0,1,18.7,20.014l-.77-5q-.079-.368-.193-.97-.136-.246-.226-.393a.589.589,0,0,0-.113-.16L15.169,9.468a1.1,1.1,0,0,0-.679-.54.94.94,0,0,0-.815.135,1.172,1.172,0,0,0-.5.724,1.2,1.2,0,0,0,.125.9l2.016,3.867a.769.769,0,0,1,.079.135l-.034,2.2a.174.174,0,0,1-.045.123.155.155,0,0,1-.226,0,.2.2,0,0,1-.057-.135l.034-2.173a.971.971,0,0,0-.26-.712.825.825,0,0,0-.657-.307.866.866,0,0,0-.645.282,1.042,1.042,0,0,0-.283.7l-.034,2.185a.293.293,0,0,1-.011.086L13.1,18.32a7.072,7.072,0,0,0,.6,3.474,4.169,4.169,0,0,0,1.393,1.67l4.722,2.971a1.761,1.761,0,0,0,1.257.295,1.387,1.387,0,0,0,.215-.037.369.369,0,0,0,.068-.025,1.878,1.878,0,0,0,1.144-.908A2.217,2.217,0,0,0,22.734,24.163Z" transform="translate(-16838.537 -20132.773)"/>
					</svg></span>
					Donations</a></li>
					<li><a href="#"><span><svg width="17" height="17"  fill="#1a6573" xmlns="http://www.w3.org/2000/svg" viewBox="-16835.229 -20084.373 17.709 17.707">
						<path id="Union_1179" data-name="Union 1179" class="it-cls-1" d="M13990.323,20632.514a4.192,4.192,0,1,1,4.189,4.2A4.193,4.193,0,0,1,13990.323,20632.514Zm-9.323,0a4.2,4.2,0,1,1,4.2,4.2A4.2,4.2,0,0,1,13981,20632.514Zm9.323-9.322a4.192,4.192,0,1,1,4.189,4.2A4.187,4.187,0,0,1,13990.323,20623.191Zm-9.323,0a4.2,4.2,0,1,1,4.2,4.2A4.192,4.192,0,0,1,13981,20623.191Z" transform="translate(-30816.229 -40703.375)"/>
					</svg></span>
					Groups</a></li>
				</ul>

				<ul class="vertical menu">
					<li><a href="#"><span><svg width="17" height="12"  fill="#1a6573"  xmlns="http://www.w3.org/2000/svg" viewBox="-16835.229 -20020.912 17.711 12.396">
						<path id="path-287" class="it-cls-1" d="M15.71,12.4H2a2,2,0,0,1-2-2V9.605L4.608,6.948l3.929,3.929,3.932-3.93,5.239,3.025,0,.425A2,2,0,0,1,15.71,12.4ZM8.538,9.461h0L.2,1.124A1.988,1.988,0,0,1,2,0H15.71a1.994,1.994,0,0,1,1.552.738L8.539,9.46Zm9.172-.715h0L13.248,6.169l4.443-4.444A2.034,2.034,0,0,1,17.71,2V8.745ZM0,8.381V2.34L3.83,6.17,0,8.38Z" transform="translate(-16835.229 -20020.912)"/>
					</svg></span>
					Messages</a></li>

				</ul>

				<ul class="vertical menu">
					<li><a href="#"><span><svg width="16" height="17"  fill="#1a6573"  xmlns="http://www.w3.org/2000/svg" viewBox="-16835.23 -19964.455 16.934 17.709">
						<path id="Union_1146" data-name="Union 1146" class="it-cls-1" d="M0,17.709v-1.6A6.41,6.41,0,0,1,6.231,9.562H10.7a6.411,6.411,0,0,1,6.23,6.544v1.6ZM4.7,3.815A3.815,3.815,0,1,1,8.516,7.628,3.815,3.815,0,0,1,4.7,3.815Z" transform="translate(-16835.23 -19964.455)"/>
					</svg></span>
					Edit profile</a></li>
					<li><a href="#"><span><svg width="19" height="19"  fill="#1a6573" xmlns="http://www.w3.org/2000/svg" viewBox="-16836.115 -19924.48 19.48 19.48">
						<path id="Path_3370" data-name="Path 3370" class="it-cls-1" d="M14.74,5a9.74,9.74,0,1,0,9.74,9.74A9.74,9.74,0,0,0,14.74,5Zm3.935,2.032a8.714,8.714,0,0,1,3.773,3.773l-2.119.636a6.541,6.541,0,0,0-2.288-2.29Zm-7.872,0,.636,2.119a6.541,6.541,0,0,0-2.288,2.288L7.032,10.8a8.714,8.714,0,0,1,3.773-3.77Zm0,15.415a8.714,8.714,0,0,1-3.77-3.773l2.119-.636a6.541,6.541,0,0,0,2.288,2.29ZM9.329,14.74a5.411,5.411,0,1,1,5.411,5.411A5.411,5.411,0,0,1,9.329,14.74Zm9.346,7.708-.636-2.119a6.541,6.541,0,0,0,2.29-2.288l2.119.636A8.714,8.714,0,0,1,18.675,22.448Z" transform="translate(-16841.115 -19929.48)"/>
					</svg></span>
					Help desk</a></li>

				</ul>
			</div>Ś