{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <!-- <link rel="stylesheet" href="{{root}}../../node_modules/foundation-sites/dist/css/foundation.min.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />

    <link rel="stylesheet" href="{{root}}assets/css/style.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
   <div class="none">
      <div class="app-dashboard shrink-medium">
        <div class="app-dashboard-body off-canvas-wrapper">
          {{> leftpanel}}
          {{> leftpanel}}
          {{> body}}
      </div>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>
    <script src="{{root}}assets/js/app.js"></script>
    <script src="{{root}}assets/js/app-custom.js"></script>
    <script>
      $(document).foundation();
  </script>

  </body>
</html>